
    .mat-card-image{
        margin-left: 30px;
        margin-right: 2px;
        border: solid 5px black;
        min-width: 100px;
        min-height: 200px;
        transform: translateY(-25px);
    
        
    }
.container{
    margin: 20px;
    display: grid;
    grid-template-columns: 40% 30%;
}
.header, action{
    margin-left: 20px;
    text-align: center;
    grid-column: 1 / span 2; 
}
.title{
    font-size: 25px;
    font-weight: bold;
}

 /* .container,.header,.action,.title{
    padding: 20px;
}
 */

